body {
	font-family: Tahoma, Arial, sans-serif;
	background-color:#000000;
	color:#c0c0c0;
	}
	
h1 {
	font-size:32px;
	color:#6D1D6A;
	background-color:#c0c0c0;
	}
	
h2 {
	background-color:#FF88FB
}

h2, ul a, ul {
	font-size:20px;
	color:#B944B5;
	text-decoration:none;
	}

h3, h4, h5, h6 {
	font-size:18px;
	color:#B944B5;
	}
	
a:hover {
	color:#44B90C;
	}

img {
	float:right;
	height: 200px;
}

div.bone {
	display: inline;
}
