body {
	font-family: Tahoma, Arial, sans-serif;
	background-color:#000000;
	color:#c0c0c0;
	}
	
h1 {
	font-size:32px;
	color:#6D1D6A;
	background-color:#c0c0c0;
	}

h2, ul a, ul, ol a{
	font-size:20px;
	color:#B944B5;
	text-decoration:none;
	}

h3, h4, h5, h6 {
	font-size:18px;
	color:#B944B5;
	}
	
a:hover {
	color:#44B90C;
	}

img {
	float:right;
	height: 200px;
}

img#mod101 {
  float: center;
  height:150px
}

img#mod102 {
  float:center;
  height:300px;
}

img#mod103 {
	float:center;
	height:450px;
}

p.caption {
  color:#B944B5;
}

div.silly {
	float:right;
}

div.bone {
	display: inline;
}
